html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.whale-links {
  float: left;
  width: 50%;
  padding: 30px;
}

.home-page-action-button {
  width: 20vw;
  height: 15vh;
  border-radius: 6px;
  transition: 0.3s;
  margin: auto;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  object-fit: cover;
  background-position: center; 
  background-size: cover;
}

.home-page-action-button:hover {
  opacity: 0.7;
}

.card-img-top {
  height: 30vh;
}

.species-list {
  flex: 1 0 361px;
}

main {
  padding-bottom: 6rem;
}

.species-photo {
  width: 75%;
  height: auto;
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.species-title {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  padding-bottom: 30px;
}

.species-text {
  font-size: larger;
}
