@model WhaleSpotting.Sighting
@{
  ViewData["Title"] = "Add a sighting";
}

<div class="text-center">
  <h1>Add a Sighting</h1>
</div>

<section>
  <form method="post" asp-controller="Sighting" asp-action="NewSighting">
    <div>
      <label for="Latitude">Latitude:</label>
      <input class="form-control" asp-for="Latitude" />
    </div>

    <div>
      <label for="Longitude">Longitude:</label>
      <input class="form-control" asp-for="Longitude" />
    </div>

    <div>
      <label for="Date">Date:</label>
      <input class="form-control" asp-for="Date" type="date" />
    </div>

    <div>
      <label for="Description">Description:</label>
      <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
