@model WhaleSpotting.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.LastWeekPhotos != null && Model.LastWeekPhotos.Count > 0)
{
    <ul>
        @foreach (var photo in Model.LastWeekPhotos)
        {
            <li>
                <img src="@photo.Image" alt='@(
                    photo.Sighting != null
                        ? $"Whale sighting on {photo.Sighting.Date}"
                        : "Whale sighting"
                )'>
            </li>
        }
    </ul>
}
