@page
@model WhaleSpotting.Sighting

<section>
  <form asp-action="NewSighting" method="post">
    <div>
      <label for="Latitude">Latitude:</label>
      <input class="form-control" asp-for="Latitude" />
    </div>

    <div>
      <label for="Longitude">Longitude:</label>
      <input class="form-control" asp-for="Longitude" />
    </div>

    <div>
      <label for="Date">Date:</label>
      <input class="form-control" asp-for="Date" type="date" />
    </div>

    <div>
      <label for="Description">Description:</label>
      <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</section>
