@model Species
@{
    ViewData["Title"] = Model.Name;
}

<div>
  <img src="@Model.PhotoUrl" class="species-photo" alt="@Model.Name photo">
  <div>
    <h1 class="species-title">@Model.Name</h1>
    <p class="species-text">@Model.Description</p>
  </div>
</div>
