@model Species
@{
    ViewData["Title"] = Model.Name;
}

<div>
  <img src="@Model.PhotoUrl" class="uniqueSpecies-photo" alt="@Model.Name photo">
  <div>
    <h1 class="uniqueSpecies-title">@Model.Name</h1>
    <p class="uniqueSpecies-text">@Model.Description</p>
  </div>
</div>
